[Desktop Entry]
Name=Skype
GenericName=Communication system
Comment=Chat through the internet
Exec=skype
Terminal=false
Type=Application
Icon=skype
Categories=Network;FileTransfer;
StartupNotify=false

